.main-navbar {
    border-radius: 0%;
    border: transparent;
    background-color: black;
    height: 50px;
    margin-bottom: 0;
}

#navitem {
    color: white;
}

#username {
    color: silver;
    margin-left: 5px;
}

.nav.nav-center {
    margin:0;
    float:none;
}

.center-navbar {
    align-items: center;
    margin: auto;
}

.navbar-user-img {
    height: 40px;
    padding-top: 5px;
}

.navbar-user-img img{
    height: 100%;
}

.navbar-userbtn {
    padding: 2px 5px;
    border: silver;
    color: white;
    background-color: black !important;
}